@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

$inter: 'Inter', sans-serif;

$grayBorder: 1px solid #CCCCCC;

$gray: #777777;
$light-purple: rgba(92, 0, 220, 0.08);
$dark-purple: #5C00DC;